[Unit]
Description=Medion Signium Keyboard Serio Driver Loader
After=systemd-modules-load.service systemd-udevd.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/load_kbd_module.sh

[Install]
WantedBy=sysinit.target
